#signupbox {
    background-color: #f3671f !important;
    box-shadow: 8px 8px 0px #aaa;
}
.panel-title {
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
}
#titre{
    padding-top: 30px;
}